@font-face {
    font-family: Karla;
    src: url('./../fuente/Karla-Regular.ttf');
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    position: absolute;
    margin-top: 50vh;
    margin-left: -35vw;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}


body {
    font-family: Karla;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(204, 43%, 93%);
    font-size: 13px;
}

section {    
    background-color: white; 
    margin-top: 10vh;   
    border-radius: 10px;      
    width: 48vw; 
    box-shadow: 0 0 17px hsl(203, 18%, 75%);
}

.arriba {    
    padding: 30px;  
    height: 22vh;  
}


.primero h1 {
    color: hsl(179, 62%, 43%);
}

.verde {
    color: hsl(71, 73%, 54%);
}

.grosor {
    font-weight: 600;
}

.abajo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.dolar {
    font-size: 30px;
}

.segundo {
    background-color: hsl(179, 62%, 43%);
    width: 40vw;
    height: 30vh;
    padding: 30px;
    border-radius: 0  0 0 10px;
}

.segundo h2 {
    margin-top: -1vh;
}

.blanco {
    color: white;
}

.gris {
    color: hsl(218, 22%, 67%);
}

.gris-claro {
    color: hsl(218, 31%, 86%);
}


.segundo p {
    color: whitesmoke;
    
}

button {
    width: 16vw;
    height: 7vh;
    background-color: hsl(71, 73%, 54%);
    color: white;
    outline: none;
    border:0;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 7px hsl(180, 23%, 44%);
    margin-top: 1vh;
}

button:active {
    background-color: hsl(71, 59%, 61%);
}

.tercero {
    background-color: hsl(179, 64%, 45%);
    width: 40vw;
    height: 30vh;
    padding: 30px;
    border-radius: 0 0 10px 0;
}

.tercero h2 {
    margin-top: -1vh;
}

.tercero p {
    font-size: 13px;
    width: 15vw;
}

@media screen and (max-width: 375px) {

    section {            
        margin-top: 10vh;   
        border-radius: 10px;      
        width: 78vw;         
    }

    .abajo {
        display: inline;
        height: 100%;        
    }

    .segundo {        
        width: 62vw;
        height: 30vh;        
        border-radius: 0  0 0 0;
        margin-top: 10vh;
    }

    .tercero {        
        width: 62vw;
        height: 30vh;        
        border-radius: 0  0 10px 10px;
    }

    .tercero p {
        font-size: 13px;
        width: 42vw;
    }

    .attribution { 
        font-size: 11px; 
        text-align: center; 
        position: absolute;
        margin-top: 75vh;
        margin-left: -68vw;
    }

    button {
        width: 56vw;
        height: 7vh;               
        margin-top: 1vh;
    }

}

